.chart-container {
  background-color: #2b2b2b;
  padding: 1.25rem;
  border-radius: 1rem;
  margin: 1rem;

  input {
    margin-bottom: 30px;
    margin-left: 0.25rem;
    margin-right: 2rem;
  }
}

.chartGroup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  height: fit-content;
}
