.inputs-container {
  .add-container {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    input {
      background-color: white;
      border-color: rgb(151, 152, 158);
      color: black;
      font-size: large;
      height: 100%;
      width: 50%;
      max-width: 200px;
      margin: 0;
      padding: 0 5px;
      margin-right: 20px;
    }

    button {
      height: 100%;
      width: 70px;
      margin-left: 20px;
      border-radius: 2px;
      justify-content: center;
      padding: 0;
      font-size: medium;
    }
  }

  .controller {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    margin: 15px 0;
    height: 40px;
    width: 50%;

    background-color: rgba(0, 0, 0, 0.119);
    border-radius: 5px;

    label {
      margin-right: 1rem;
    }

    input {
      margin: 0;
      background-color: transparent;
      border-bottom-color: #02a499;
      width: 100%;
    }

    input[type='range'] {
      background-color: #02a499;
    }
  }
}
