.rawSerialWrapper {
  padding: 1rem 0.75rem;
  margin: 1rem;
  min-height: 400px;
  max-height: 500px;
  overflow-y: scroll;

  max-width: 50%;
  flex: 1 1 auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    margin: 15px 0px;
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
